<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title %></title>
</head>
<body>
    <div>
    <h1>Blog Posts</h1>
    <h2>About Page</h2>

    <a href="/">Blog Page</a>
    <a href="/about">About Page</a>
    <a href="/blog/create">New Blog</a>
</div>
<div>
    <form  method="post">
        <label>Blog Title</label>
        <input type="text" id="title"/>
        <label>Blog Snippet</label>
        <input type="text" id="title"/>
        <label>Blog Body</label>
        <input type="text" id="title"/>
        <button>submit</button>
    </form>
</div>
</body>
</html>